<div class="filter">
  <h2>Periode:
    <span class="date-filter-btn" (click)="showBeginDatePicker = !showBeginDatePicker"> {{ startPeriod | date:'d/M/yy' }}</span> -
    <span class="date-filter-btn" (click)="showEndDatePicker = !showEndDatePicker"> {{ endPeriod | date:'d/M/yy' }} </span>
  </h2>
  <div *ngIf="showBeginDatePicker">
    <ion-label position="floating" class="label-datetime">Begin</ion-label>
    <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="beginDatetime">
    </ion-datetime>
    <ion-button class="btn-begin" (click)="saveBeginPeriod()">Opslaan</ion-button>
  </div>
  <div *ngIf="showEndDatePicker">
    <ion-label position="floating" class="label-datetime">Einde</ion-label>
    <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="endDatetime">
    </ion-datetime>
    <ion-button class="btn-end" (click)="saveEndPeriod()">Opslaan</ion-button>
  </div>
  <div class="onlyPending">
    <ion-checkbox [(ngModel)]="onlyPending" (ionChange)="changePending()">Alleen aangevraagde</ion-checkbox>
  </div>
</div>
<ion-list>
  <app-shift-item *ngFor="let shift of currentFilteredShifts; let i = index" [shift]="shift"
     (deleteShiftEmitter)="deleteShift($event)"></app-shift-item>
</ion-list>
<!--(updateShift)="futureShifts[i] = $event"-->