.stats {
    padding-left: 1rem;
    // padding-top: 2rem;
    .statNumber {
        font-size: xx-large;
        font-weight: bold;
        color: #ee83e5;
    }

}

.label-datetime {
    margin-bottom: 1rem !important;
}