<!-- <ion-item>
  <ion-label position="floating" class="label-datetime">Start</ion-label>
  <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="beginDatetime"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label position="floating" class="label-datetime">Einde</ion-label>
  <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="endDatetime"></ion-datetime>
</ion-item> -->

<div class="stats">
  <h1>Periode:
    <span (click)="showBeginDatePicker = !showBeginDatePicker"> {{ startPeriod | date:'d/M/yy' }}</span> -
    <span (click)="showEndDatePicker = !showEndDatePicker"> {{ endPeriod | date:'d/M/yy' }} </span>
  </h1>
  <div *ngIf="showBeginDatePicker">
    <ion-label position="floating" class="label-datetime">Begin</ion-label>
    <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="beginDatetime">
    </ion-datetime>
    <ion-button class="btn-begin" (click)="saveBeginPeriod()">Opslaan</ion-button>
  </div>
  <div *ngIf="showEndDatePicker">
    <ion-label position="floating" class="label-datetime">Einde</ion-label>
    <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="endDatetime">
    </ion-datetime>
    <ion-button class="btn-end" (click)="saveEndPeriod()">Opslaan</ion-button>
  </div>
  <p>Aantal shiften</p>
  <span class="statNumber">{{ countShifts }}</span>
  <p>Totaal uren</p>
  <span class="statNumber">{{ countHours }}</span>
  <p>Verdiend</p>
  <span class="statNumber">{{ earnings }}</span>
  <p>Verdiend (plus aangevraagd)</p>
  <span class="statNumber">{{ earningsPlusNA }}</span>
</div>