.stats {
    padding-left: 1rem;

    .statNumber {
        font-size: xx-large;
        font-weight: bold;
        color: #ee83e5;
    }

    .label-datetime {
        margin-bottom: 1rem !important;
    }
    .btn-month {
        margin-top: 15px;
    }
    .btn-previous {
        margin-right: 15px;
    }
}