<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="documenten" href="/documenten">
      <ion-icon aria-hidden="true" name="document-outline"></ion-icon>
      <ion-label>Documenten</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shiften" (click)="goToShifts()">
      <ion-icon aria-hidden="true" name="wallet-outline"></ion-icon>
      <ion-label>Shiften</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistieken" href="/statistieken">
      <ion-icon aria-hidden="true" name="stats-chart-outline"></ion-icon>
      <ion-label>Statistieken</ion-label>
      <!-- <object type="image/svg+xml" data="../../assets/gif/coins.gif" class="gif gif-coins"></object> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>