<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="documenten" href="/documenten">
      <lord-icon src="../../assets/lottie/document.json" trigger="loop" class="icon animated-icon">
      </lord-icon>
    </ion-tab-button>

    <ion-tab-button tab="shiften" (click)="goToShifts()">
      <lord-icon src="../../assets/lottie/shifts.json" trigger="loop" class="icon animated-icon">
      </lord-icon>
    </ion-tab-button>

    <ion-tab-button tab="statistieken" href="/statistieken">
      <lord-icon src="../../assets/lottie/coins.json" trigger="loop" class="icon animated-icon">
      </lord-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>