<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="toevoegen" href="/tabs/toevoegen">
      <ion-icon aria-hidden="true" name="add-outline"></ion-icon>
      <ion-label>Shift toevoegen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shiften" href="/tabs/shiften">
      <ion-icon aria-hidden="true" name="wallet-outline"></ion-icon>
      <ion-label>Shiften</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistieken" href="/tabs/statistieken">
      <ion-icon aria-hidden="true" name="stats-chart-outline"></ion-icon>
      <ion-label>Statistieken</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
