<ion-header class="header-shifts" [translucent]="true">
  <ion-toolbar class="shifts-toolbar">
    <ion-title class="shifts-toolbar-title">
      Komende shiften
    </ion-title>
    <!-- <ion-buttons slot="end" class="add-btn">
      <ion-button> Add</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <div (click)="navigateToShiftToevoegen()" class="icon-button">
    <img src="../../assets/svg/1.svg" alt="Add Shift Icon" class="icon-svg" />
    <img src="../../assets/svg/3.svg" alt="Add Shift Icon" class="icon-svg" />
    <img src="../../assets/svg/4.svg" alt="Add Shift Icon" class="icon-svg" />
    <img src="../../assets/svg/5.svg" alt="Add Shift Icon" class="icon-svg" />
    <img src="../../assets/svg/6.svg" alt="Add Shift Icon" class="icon-svg" />
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <app-shift-list></app-shift-list>

</ion-content>