:root {
    --ion-background-color: rgb(22, 20, 24) !important;
    --ion-text-color: #eee;
    --ion-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

ion-checkbox {
    --checkbox-background-checked: green;
    --border-color-checked:green;
    --checkmark-color: white;
}
ion-toolbar {
    --min-height: 35px;
}

ion-item {
    --background: transparent;
}

