<ion-content>
  <form [formGroup]="shiftForm" (ngSubmit)="onSubmit()">
    <!-- Platform Dropdown -->
    <ion-item>
      <ion-label position="floating">Platform</ion-label>
      <ion-select formControlName="platform">
        <ion-select-option value="X-Care">X-Care</ion-select-option>
        <ion-select-option value="Caresquare">Caresquare</ion-select-option>
        <ion-select-option value="Clickcare">Clickcare</ion-select-option>
        <ion-select-option value="Beeple">Beeple</ion-select-option>
        <ion-select-option value="Zonder">Zonder platform</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Platform Dropdown -->
    <ion-item>
      <ion-label position="floating">Locatie</ion-label>
      <ion-input type="text" formControlName="location"></ion-input>
    </ion-item>

    <!-- Date Picker -->
    <ion-item>
      <ion-label position="floating">Startdatum & uur</ion-label>
      <ion-datetime [preferWheel]="true" formControlName="startDate"></ion-datetime>
    </ion-item>

    <!-- End Time Picker -->
    <ion-item>
      <ion-label position="floating">Einduur</ion-label>
      <ion-datetime display-format="HH:mm" picker-format="HH:mm" formControlName="endDate" presentation="time"></ion-datetime>
    </ion-item>

    <!-- Break in Minutes -->
    <ion-item>
      <ion-label position="floating">Aantal minuten pauze</ion-label>
      <ion-input type="number" formControlName="break"></ion-input>
    </ion-item>

    <!-- Amount of Money Earned -->
    <ion-item *ngIf="selectedPlatform !== 'X-Care'">
      <ion-label position="floating">Verdienste</ion-label>
      <ion-input type="number" formControlName="earnings"></ion-input>
    </ion-item>
    <ion-item *ngIf="selectedPlatform === 'X-Care' && earningsNetto > 0">
      <ion-label style="color:white">Netto: {{ earningsNetto }}</ion-label>
    </ion-item>

    <!-- Accepted Checkbox -->
    <ion-item>
      <ion-label>Reeds geaccepteerd?</ion-label>
      <ion-checkbox formControlName="accepted"></ion-checkbox>
    </ion-item>

    <!-- Submit Button -->
    <ion-button class="btn-add" expand="full" type="submit" [disabled]="!shiftForm.valid">Voeg toe</ion-button>
  </form>
</ion-content>